In [1]:
import psycopg2
from sqlalchemy import create_engine, inspect

In [2]:
database = {
    'host': "db.cdp.local",
    'port': "5432",
    'name': "sber",
    'user': "postgres",
    'pass': "postgres"
}

In [3]:
engine = create_engine("postgresql+psycopg2://{user}:{pass}@{host}:{port}/{name}".format(**database))

In [36]:
conn = engine.connect()
insp = inspect(engine)

print(insp.get_table_names())

['users', 'servers']

###Дополнительное задание №1

In [39]:
conn.execute("CREATE sequence IF NOT EXISTS users_seq start with 1;")
conn.execute("CREATE table IF NOT EXISTS users (id integer primary key default nextval('users_seq'), name varchar, surname varchar)")
conn.execute("CREATE sequence IF NOT EXISTS servers_seq start with 1;")
conn.execute("CREATE table IF NOT EXISTS servers (id integer primary key default nextval('servers_seq'), user_id integer, hostname varchar, CONSTRAINT fk_user_id FOREIGN KEY(user_id) REFERENCES users(id))")

In [40]:
print(insp.get_table_names())

['users', 'servers']